{% extends 'base.html' %}

{% block content %}
    <h2>Document groups: </h2>
    <ul class="list-group list-group">
        {% for document_group in object_list %}


                <li class="list-group-item">{{ document_group.name }}
                <a class="btn btn-secondary" href="/document-group-list/{{document_group.id}}">Explore</a>
                <a class="btn btn-primary" href="#">Edit name</a>
                <a class="btn btn-danger" href="/#">Delete</a>
                </li>


        {% endfor %}
    </ul>
{% endblock %}

